.btn {
    font-family: "Silkscreen", sans-serif;
    color: #000435;
    padding: 20px 20px;
    font-size: 1.2rem;
    background-color: #61dafb;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}